@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #008a35;
  --brand-link-color: #004e92;
  --border-light: #d8e0ed;
  --border: #b7b7b7;
  --font-montserrat: "Montserrat";
}

.swiper-pagination-bullet-active {
  background-color: var(--brand-color) !important;
}

/* styles for scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #008a35;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  border-radius: 8px;
}

@font-face {
  font-family: "SutonoMJ";
  src: url("/assets/fonts/SutonoMJ.woff2") format("woff2"),
    url("/assets/fonts/SutonoMJ.woff") format("woff"),
    url("/assets/fonts/SutonoMJ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
